.card{
    border: 2px solid silver; width: 430px; border-radius: 30px; display: block; margin: 0 auto;
}
.myImage{
    border-radius: 30px; width: 400px; display: block; margin: 0 auto; padding: 20px;
}
.bold{
    font-family: Arial, Helvetica, sans-serif; padding: 20px; margin-top: 10px; margin-bottom: 10px; 
}
.small{
     font-family: Arial, Helvetica, sans-serif; padding: 20px; color: darkgray; margin-top: 10px; margin-bottom: 10px; 
}
.button{
    font-family: Arial, Helvetica, sans-serif;  color: darkgray; border-radius: 20px; width: 110px; height: 30px; margin-left: 20px; margin-bottom: 20px;
}
